<nav>
  <ul>
    <li><a routerLink="/module1/hero-a">Hero A</a></li>
    <li><a routerLink="/module1/hero-b">Hero B</a></li>
    <li><a routerLink="/module2/person-a">Person A</a></li>
    <li><a routerLink="/module2/person-b">Person B</a></li>
  </ul>
</nav>
<router-outlet> </router-outlet>
